// Place all the styles related to the ProgrammingLanguages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
h1 {
  height: 50px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  width: 800px;

  li {
    padding: 5px;
    .lang_name {
      font-weight: bold;
      font-size: 16px;
    }
    .type, .author {
      font-weight: bold;
      color: #207cca;
      padding-left: 20px;
    }
  }
}
*/
.form-inline {
  padding-bottom: 10px;
}

#search{
  width: 50%;
}

.def-list {
  margin: 0px;
}